<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Arunas' Blog</title>
</head>
<body>
    <div><a href="/login">Prisijunkite</a></div>
    <div><a href="/logout">Atsijunkite</a></div>
    <h1 th:text="${'Sveiki, ' + loggedUser + ', atvykę į Arūno blogą.'}">Sveiki, atvykę į Arūno blogą.</h1>
    <div th:if="${#lists.isEmpty(posts)}">Posts list is empty :|</div>

    <div th:unless="${#lists.isEmpty(posts)}">
        <table>
            <thead>
            <tr>
                <th>Post</th>
                <th></th>
                <th>Comments</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <div th:each="post: ${posts}">
                <tr>
                    <td colspan="3" th:text="|${post.id}, ${post.topic},  ${post.contents}, ${post.postDate}, ${post.authorEmail}|"></td>
                    <td><a th:href="@{/private/posts/{id}/delete(id=${post.id})}">Delete</a></td>
                </tr>
                <tr th:each="comment: ${post.comments}">
                    <td></td>
                    <td colspan="2" th:text="${comment}"></td>
                    <td><a th:href="@{/private/comment/{id}/delete(id=${comment.id})}">Delete</a></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="3">
                        <form method="post" th:action="@{/private/createComment}" th:object="${comment}">
                            <textarea class="col-md-6 margintop30" placeholder="Comment" name="comment"></textarea>
                            <input type="hidden" th:value="${post.id}" th:attr="name='postId'" />
                            <div class="col-md-1">
                                <button class="btn btn-primary margintop30" type="submit">Comment</button>
                            </div>
                        </form>
                    </td>
                </tr>
            </div>
            </tbody>
        </table>

    </div>
    <div><a th:href="@{/private/createPost}">Create a new post</a></div>


</body>
</html>